body,html {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
}

#main {
	width: 110%;
	height: 110%;
	background-image: url(images/nightsky.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -300px;
}

.title {
	margin: 0;
	font-size: 40px;
}

.subtitle {
	margin: 0;
	font-size: 25px;
}

#text {
	position: relative;
	top: calc(50% - 150px);
	left: calc(50% - (100%/2));
	width: 100%;
	height: 300px;
	color: white;
	font-family: arial;
	text-shadow: 3px 3px 1px black;
}

#text a {
	color: black;
	text-decoration: none;
	text-shadow: none;
	padding: 5px 5px;
	background: #F0F0F0;
	border: 1px solid grey;
	border-radius: 4px;
}

#text a:hover {
	background: #DADADA;
}

.donate {
	background: lightgreen;
}

.donate:hover {
	background: #82d882;
}

#second {
	height: 100%;
	width: 90%;
	padding: 30px 30px;
}
