body, html {
	width: 100%;
	height: 100%;
	margin: 0px;
	background-color: #242424;
	font-family: sans-serif;
	color: white;
}
#big {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(images/fuji.jpg);
	background-position-x: center;
	display: table;
}
#text {
	display: table-cell;
	vertical-align: middle;
	color: white;
	text-shadow: 3px 3px 1px black;	
	text-align: center;
}
.title {
	margin: 0;
	font-size: 40px;
	font-weight: normal;
}
.subtitle {
	margin: 0;
	font-size: 25px;
}
#buttons a.green {background: #3f803f;}
#buttons a.green:hover {background: green;}
#buttons a:hover {background: rgb(10 10 10 / 46%);}
#buttons {
	width: 300px;
	margin: auto;
}
#buttons a {
	display: inline-block;
	margin-top: 5px;
	padding: 5px;
}
#content {
	padding: 30px 30px;
	max-width: 600px;
}
#content a {color: lightblue;}
#content a:visited {color: #719aa6;}
.link-list li {padding: 3px;}

.proj-list a {
	text-decoration: none;
}
.proj-item:hover {
	background: black;
}
.proj-item {
	background: #101010;
	padding: 10px;
	margin: 5px;
	color: white;
}
.proj-item h3 {
	font-size: 30px;
	display: block;
	margin: 0px;
	margin-bottom: 10px;
	font-weight: normal;
}
.proj-h {
	font-size: 30px;
	display: block;
	margin-bottom: 10px;
}

