<!DOCTYPE html>
<html>
<head>
	<title>{{ .Title }}</title>
	{{ partial "blog-header.html" . }}

	{{ if .Params.images }}
	  <meta name="twitter:card" content="summary_large_image">
	  <meta name="twitter:title" content="{{ .Title }}">
	  <meta name="twitter:description" content="{{ .Description | default .Summary }}">
	  <meta name="twitter:image" content="{{ index .Params.images 0 | absURL }}">
	{{ else }}
	  <meta name="twitter:card" content="summary">
	{{ end }}
</head>
<body>
	<div class="header">
		<a href="{{ "blog/" | relURL }}"><h1>Daniel Cook</h1></a>
		<a href="{{ "rss.xml" | relURL }}">RSS</a><br>
	</div>
	<div class="post">
		<h1>{{ .Title }}</h1>
		<time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
		<hr>
		<p>{{ .Content }}</p>
	</div>
</body>
</html>
