#main {
	width: 50%;
	height: 100px;
	font-family: sans-serif;
	margin: auto;
}

@media only screen and (max-width: 600px) {
	#main {
		width: 100%;
	}
}

#logo {
    float: left;
    margin-right: 20px;
    height: 70px;
}

.button {
	margin: 10px;
	padding: 10px 20px;
	border: 1px solid black;
	display: inline-block;
	text-decoration: none;
	color: black;
	background: lightgray;
	border-radius: 5px;
}

h1 {
	margin-bottom: 0px;
}

.subheading {
	font-size: 20px;
}

#address {
	padding: 5px 5px;
	border: 1px dashed green;
	cursor: pointer;
	user-select: none;
}

.snapshot {
    padding: 10px;
    margin-bottom: 10px;
	text-align: center;
	border: 1px solid black;
}

.screenshot {
    width: 100%;
}

#ip {
	padding: 10px 20px;
	border: 1px dotted black;
	text-align: center;
	font-size: larger;
}
